<%= image_tag(@user.image_url) %>
<p><%= @user.user_name %></p>
<p><%= @user.full_name %></p>
<p><%= @user.bio %></p>
<p><%= @user.location %></p>
<p><%= link_to @user.blog_url, @user.blog_url %></p>
