<%= image_tag(current_user.image) %>
<p><%= current_user.user_name %></p>
<p><%= current_user.full_name %></p>
<p><%= current_user.bio %></p>
<p><%= current_user.location %></p>
<p><%= link_to current_user.blog, current_user.blog %></p>
